# Dependencies
node_modules/
__pycache__/
*.pyc
.env
backend/venv/


# Build outputs
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/
*.swp
*.swo
mealy-41bf0-firebase-adminsdk-fbsvc-7d493e86ea.json
# Firebase credentials - NEVER commit these!
mealy-41bf0-firebase-adminsdk*.json*
*-firebase-adminsdk-*.json
google-services*.json

# Logs
*.log
logs/

# OS files
.DS_Store
Thumbs.db
